<ion-header>
  <ion-navbar>
    <ion-title>{{category.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addTransaction()"><ion-icon name="add"></ion-icon></button>
      <button ion-button icon-only (click)="addTransfer()"><ion-icon name="shuffle"></ion-icon></button>
      <button ion-button icon-only (click)="showMore($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="category-page">
  <replication-error></replication-error>

  <ion-fab #fab right bottom>
    <!--double tap ?-->
    <button ion-fab color="primary" (click)="doubleTapAddTransactionWizard()" (press)="addTransactionWizard({transactionType: 'Expense'})"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="fab.close(); addTransactionWizard({transactionType: 'Expense'})"><ion-icon name="add"></ion-icon></button>
      <button ion-fab color="primary" (click)="fab.close(); addTransactionWizard({transactionType: 'Transfer'})"><ion-icon name="shuffle"></ion-icon></button>
      <button ion-fab color="primary" (click)="fab.close(); addTransactionWizard({transactionType: 'Money In'})"><ion-icon name="download"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>  

  <ion-list>
    <button ion-item detail-none (click)="editSimpleWeekly()">
        Balance
        <currency-display highlightNegative [value]="category.balance" item-right></currency-display>
    </button>
    <button ion-item detail-none (click)="editSimpleWeekly()">
        Weekly Amount
        <currency-display highlightNegative [value]="categoryWeeklyAmount()" item-right></currency-display>
    </button>

    <button class="category-transaction-item" ion-item detail-none (click)="editTransaction(t)" *ngFor="let t of transactionsPaged">
      <span item-left>{{t.date | dFormat}}</span> {{t.description}}
        <ion-note small item-right *ngIf="t.x.type == 'Transfer'">
          <ion-icon small name="shuffle"></ion-icon>
          {{transferOtherCategoryName(t)}}
        </ion-note>
      <currency-display invertedCurrency highlightPositive showPositive [value]="t.amount" item-right></currency-display>
    </button>

  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="50%">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
 <ion-note *ngIf="!infiniteScroll.enabled" class="item-list-footnote">{{transactionsPaged.length == 0 ? 'No items to display' : 'End of items'}}</ion-note>
</ion-content>