<ion-content>
    <div responsive-padding>
        <form (submit)="submit($event)" novalidate #form="ngForm">
            <ion-card>
                Category: {{engine.getCategory(line.categoryId)?.name}}
            </ion-card>
            <ion-item *ngIf="configuration.optionBooleanAccessor('experimental.accounts.enabled').value && engine.getAccounts().length > 0">
                <ion-label>Account</ion-label>
                <ion-select required name="account" [(ngModel)]="line.accountId">
                    <ion-option *ngFor="let account of engine.getAccounts()" value="{{account.id}}">{{account.name}}</ion-option>    
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Amount</ion-label>
                <ion-input currency-field required name="amount" [(ngModel)]="line.amount" [attr.autofocus]="editing ? null : true"></ion-input>
            </ion-item>
        </form>
    </div>
    <button ion-button type="button" *ngIf="editing" color="danger" clear small (click)="deleteLineConfirm()">Delete</button>
</ion-content>