.budget-settings-page {
    .hide-validation, .hide-validation .item-inner {
        border-bottom-color: #dedede !important;
        box-shadow: none !important;
    }

    .no-top-border {
        border-top: none !important;
    }
}