<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <main-menu-icon></main-menu-icon>
    </button>
    <ion-title>Budget Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="budget-settings-page">
  <ion-list responsive-padding>
    <ion-item class="hide-validation">
      <ion-label>Budget Name</ion-label>
      <ion-input [disabled]="budgetNameUpdating" [(ngModel)]="data.budgetName" (blur)="updateBudgetName()"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="configuration.optionBoolean('experimental.accounts.enabled')" responsive-padding>
    <ion-list-header class="no-top-border">
      Accounts
    </ion-list-header>
    <button ion-item (click)="openAccount(account)" *ngFor="let account of engine.getAccounts()">{{account.name}}</button>
    <button ion-item detail-none (click)="addAccount()">Add New Account...</button>

  </ion-list>
  <ion-list *ngIf="configuration.optionBoolean('experimental.accounts.enabled')" responsive-padding>
    <ion-list-header class="no-top-border">
      Bank Links
    </ion-list-header>
    <button ion-item (click)="openBankLink(bankLink)" *ngFor="let bankLink of engine.getBankLinks()">{{bankLink.name}}</button>
    <button ion-item detail-none (click)="addBankLink()">Add New Bank Link...</button>
  </ion-list>
  <button ion-button color="danger" clear small (click)="deleteBudgetConfirm()">Delete Budget</button>


</ion-content>

