<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <main-menu-icon></main-menu-icon>
    </button>
    <ion-title>{{account.name}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="toggleMultiSelect()"><ion-icon name="checkbox-outline"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bank-account-page">
  
  <ion-list class="reconciliation-list" [virtualScroll]="transactionViewArray()" [headerFn]="transactionListDateHeader" approxHeaderHeight="44px" approxItemHeight="65px">

    <div *virtualHeader="let t1; let i = index;" style="width: 100%">
      <ng-container *ngIf="i === 0">
        <ion-item>Account Number {{account.x.accountNumber}}</ion-item>
        <ion-item>Balance {{account.x.bankBalance}}</ion-item>
        <ion-item>Available Balance {{account.x.bankAvailableBalance}}</ion-item>
        <ion-item>Processed Balance {{account.x.bankProcessedBalance}}</ion-item>
        <ion-item>Calculated Balance {{account.x.calculatedBankBalance}}</ion-item>
        <ion-item>Available Calculated Balance {{account.x.calculatedBankAvailableBalance}}</ion-item>
        <ion-item>Processed Calculated Balance {{account.x.calculatedBankProcessedBalance}}</ion-item>
        <ion-item>Last Updated {{account.x.bankBalanceTimestamp}}</ion-item>
        <ion-item *ngIf="account.x.bankBalance && account.x.calculatedBankBalance">Difference {{account.x.bankBalance.minus(account.x.calculatedBankBalance)}}</ion-item>
        <ion-item *ngIf="account.x.bankAvailableBalance && account.x.calculatedBankAvailableBalance">Available Difference {{account.x.bankAvailableBalance.minus(account.x.calculatedBankAvailableBalance)}}</ion-item>
        <ion-item *ngIf="account.x.bankProcessedBalance && account.x.calculatedBankProcessedBalance">Processed Difference {{account.x.bankProcessedBalance.minus(account.x.calculatedBankProcessedBalance)}}</ion-item>
        <button *ngIf="account.bankLinkId" ion-item (click)="goBankLink()">Go To Bank Link</button>
        <ion-item>TODO If account is syncing</ion-item>
        <ion-item>TODO Sync ONLY this account for the bank link</ion-item>
        <button ion-item detail-none (click)="refreshData()">Refresh/Mod Data</button>      
      </ng-container>
      <ion-item-divider  color="light">{{t1.date | dFormat}}</ion-item-divider>
    </div>

    <ion-item-sliding #slidingItem *virtualItem="let t" class="transaction-item">
      <button ion-item detail-none (click)="t.x.ignored ? null : openTransaction(t)" [disabled]="(multiSelectEnabled && t.x.reconciled) || (!multiSelectEnabled && t.x.ignored)" [class.transaction-ignored]="t.x.ignored">
        <ion-checkbox [(ngModel)]="selected[t.id]" item-left *ngIf="multiSelectEnabled" [disabled]="t.x.reconciled"></ion-checkbox>
        <div item-left class="reconciliation-marker" [class.unreconciled-marker]="!t.x.reconciled" [class.reconciled-marker]="t.x.reconciled"></div>
        <div item-content class="transaction-content">
          <div class="transaction-description-wrapper">
            <p class="transaction-description">{{t.flagRemoved ? 'Removed (TODO: Change to a warning icon, and need to know what to do with it, delete, ignore, etc?): ' : ''}}{{t.description}}</p>
          </div>
          <ion-note *ngIf="t.status !== 'processed'">{{t.status}}</ion-note>
        </div>
        <currency-display item-right highlightPositive showPositive [value]="t.amount"></currency-display>
      </button>
      <ion-item-options side="left" *ngIf="!t.x.reconciled && !multiSelectEnabled">
        <button ion-button (click)="!t.x.ignored ? ignoreItem(t, slidingItem) : unignoreItem(t, slidingItem)"><ion-icon *ngIf="!t.x.ignored" name="eye-off"></ion-icon><ion-icon *ngIf="t.x.ignored" name="eye"></ion-icon></button>
      </ion-item-options>
  
      <ion-item-options side="right" *ngIf="!t.x.reconciled && !multiSelectEnabled">
        <button ion-button icon-only color="danger" (click)="deleteItem(t)"><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer *ngIf="multiSelectEnabled">
  <ion-toolbar>
    <ion-buttons class="buttons-bar">          
      <button ion-button icon-only (click)="selectAll()" *ngIf="!allSelected()"><ion-icon ios="ios-checkmark-circle" md="md-checkbox"></ion-icon></button>
      <button ion-button icon-only (click)="unselectAll()" *ngIf="allSelected()"><ion-icon ios="ios-checkmark-circle-outline" md="md-checkbox-outline"></ion-icon></button>
      <button ion-button icon-only (click)="deleteSelected()" [disabled]="!anySelected()"><ion-icon name="trash"></ion-icon></button>
      <button ion-button icon-only (click)="ignoreSelected()" [disabled]="!anySelected()"><ion-icon name="eye-off"></ion-icon></button>
      <button ion-button icon-only (click)="unignoreSelected()" [disabled]="!anySelected()"><ion-icon name="eye"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>