.bank-account-page {

    .reconciliation-marker {
        width: 8px;
        height: 8px;
    }
    .unreconciled-marker {
        border-radius: 4px;
        background-color: #0099ff;
    }

    .reconciliation-list .checkbox-md {
        margin-right: 9px;
    }

    
    .transaction-description-wrapper {
        display: flex;
        align-items: center;

        /*
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        */
    }

    .transaction-description {
        overflow: hidden;
        max-height: 2.4em;
    }

    .transaction-item ion-label {
        display: none;
    }

    .transaction-content {
        width: 100%;
    }

    .transaction-ignored {
        .reconciliation-marker {
            visibility: hidden;
        }

        .transaction-content {
        }

        opacity: 0.5;        
    }

}

.buttons-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
