<ion-header>
    <div>
        <ion-toolbar>

            <ion-buttons start>
                <button ion-button (click)="cancel()">Cancel</button>
            </ion-buttons>

            <ion-title>
                <div class="transaction-type-label" item-content (mousedown)="showTypeToggle($event)">{{transactionType}} <ion-icon name="arrow-dropdown"></ion-icon></div>            
            </ion-title>

            <ion-buttons end>
                <button ion-button (click)="submit($event)" [disabled]="!form.valid">{{editing ? "Save" : "Create"}}</button>
            </ion-buttons>

        </ion-toolbar>
        <ion-toolbar class="extended-toolbar">
            <div class="toolbar-category-label">
                in {{category?.name}}
            </div>
        </ion-toolbar>
    </div>
</ion-header>

<ion-content class="add-edit-split-transaction-modal">
    <div responsive-padding>
        <form (submit)="submit($event)" novalidate #form="ngForm">
            <ion-item-group>

                <ion-item *ngFor="let line of data.lines; let i = index;">
                    <ion-icon item-start>$</ion-icon>
                    <ion-input currency-field required name="amount" [(ngModel)]="line.amount" [attr.autofocus]="editing && i !== 0 ? null : true"></ion-input>

                    <ion-icon *ngIf="data.lines.length === 1" item-start class="item-right" ios="ios-arrow-down" md="ios-arrow-down" (click)="newLine()"></ion-icon>
                    <ion-icon *ngIf="data.lines.length === 2 && i === 0 && !data.lines[1].amount" item-start class="item-right" ios="ios-arrow-up" md="ios-arrow-up" (click)="false"></ion-icon>
                    <ion-icon *ngIf="i === 0 && data.lines.length > 1 && (data.lines.length > 2 || data.lines[1].amount)" item-start class="item-right blank-icon" ios="ios-arrow-up" md="ios-arrow-up"></ion-icon>
    
                    <ion-icon *ngIf="data.lines.length !== 1 && data.lines.length - 1 === i && line.amount" item-start class="item-right" name="add" (click)="newLine()"></ion-icon>
                    <ion-icon *ngIf="data.lines.length !== 1 && data.lines.length - 1 === i && !line.amount" item-start class="item-right blank-icon" ios="ios-arrow-up" md="ios-arrow-up"></ion-icon>
                    <ion-icon *ngIf="data.lines.length !== 1 && data.lines.length - 1 !== i && i > 0" item-start class="item-right blank-icon" ios="ios-arrow-up" md="ios-arrow-up"></ion-icon>
    
                    <!--
                    <button ion-item type="button" *ngIf="line.categoryId" (click)="editLine(line)">
                        <ion-label>{{engine.getCategory(line.categoryId)?.name || "Select Category"}}</ion-label>
                        <div item-right>{{line.amount}}</div>
                    </button>
                    -->
                </ion-item>
            
                <ion-item>
                    <ion-icon name="pricetag" item-start></ion-icon>
                    <ion-input required type="text" placeholder="Enter a description" [(ngModel)]="data.description" name="description"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-icon name="calendar" item-start></ion-icon>
                    <ion-datetime name="date" [(ngModel)]="data.date" displayFormat="MMM D, YYYY" pickerFormat="MMM D YYYY"></ion-datetime>
                    <!--
                    <ion-segment item-end name="status" [(ngModel)]="data.status">
                        <ion-segment-button value="realised">Realised</ion-segment-button>
                        <ion-segment-button value="anticipated">Anticipated</ion-segment-button>
                    </ion-segment>
                    -->
                </ion-item>
            </ion-item-group>
        </form>
    </div>
    <button ion-button type="button" *ngIf="editing" color="danger" clear small (click)="deleteTransactionConfirm()">Delete</button>
</ion-content>