.budget-page {
  [item-right] {
    text-align:right;
  }
}

.budget-header.header-loading {
  opacity: 0;
}
.budget-header {
  opacity: 1;
  transition: opacity 0.5s;
}

.budget-title-summary {
  display: inline-flex;
  flex-direction: column;
  font-size: 0.7em;
  vertical-align: middle;
  font-weight: normal;
}