<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{budget.name()}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addCategory()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="budget-page">
  <replication-error></replication-error>
  <cute-progress-bar *ngIf="!activated" [value]="activatedProgress" [of]="activatedOf"></cute-progress-bar>
  <ion-list>
    <button ion-item detail-none *ngFor="let c of categories" (click)="openCategory(c)">
      <div>{{c.name}}</div>
      <div item-right>
        <currency-display highlightNegative [value]="c.balance"></currency-display>
        <p><ion-note><currency-display showPositive [value]="categoryWeeklyAmount(c)"></currency-display></ion-note></p>
      </div>
    </button>
  </ion-list>

</ion-content>