<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <main-menu-icon></main-menu-icon>
    </button>
    <ion-title>{{account.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item>Account Number {{account.x.accountNumber}}</ion-item>
  <ion-item>Balance {{account.x.bankBalance}}</ion-item>
  <ion-item>Calculated Balance {{account.x.calculatedBankBalance}}</ion-item>
  <ion-item>Last Updated {{account.x.bankBalanceTimestamp}}</ion-item>
  <ion-item *ngIf="account.x.bankBalance && account.x.calculatedBankBalance">Difference {{account.x.bankBalance.minus(account.x.calculatedBankBalance)}}</ion-item>
  <button ion-item [disabled]="syncing" (click)="syncBank()">Sync Bank ({{account.x.bankProviderName}})</button>
  <button ion-item [disabled]="!syncing" (click)="showSyncWindow()">Show Sync Window</button>

  <ion-item *ngFor="let t of transactionView.data()">{{t.flagRemoved}} {{t.amount}} {{t.status}} {{t.date}} {{t.description}}</ion-item>

</ion-content>