<ion-header>
    <ion-toolbar>
    <ion-buttons start>
        <button ion-button (click)="cancel()">Cancel</button>
    </ion-buttons>

    <ion-title>{{editing ? "Edit" : "Add"}} Account</ion-title>

    <ion-buttons end>
        <button ion-button (click)="submit($event)" [disabled]="!form.valid">{{editing ? "Save" : "Create"}}</button>
    </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content>
    <div responsive-padding>
        <form #form="ngForm" (submit)="submit($event)">
            <ion-list>
                <ion-item>
                    <ion-label>Account Name</ion-label>
                    <ion-input type="text" name="name" [(ngModel)]="data.name" [attr.autofocus]="editing ? null : true" required></ion-input>
                </ion-item>
            </ion-list>
            <ion-list radio-group name="accountType" [(ngModel)]="data.accountType">
                <ion-item>
                    <ion-label>Bank Account</ion-label>
                    <ion-radio value="Bank"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Cash</ion-label>
                    <ion-radio value="Cash"></ion-radio>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>Opening Balance</ion-label>
                    <ion-input currency-field name="openingBalance" [(ngModel)]="data.openingBalance"required></ion-input>
                </ion-item>
            </ion-list>
            <ion-list *ngIf="data.accountType == 'Bank'">
                <ion-item>
                    <ion-label>Bank Provider</ion-label>
                    <ion-select name="bankProviderName" [(ngModel)]="data.bankProviderName">
                        <ion-option value="">&lt;No Provider&gt;</ion-option>
                        <ion-option *ngFor="let bankProviderName of bankProviderManager.getProviderNames()" value="{{bankProviderName}}">{{bankProviderName}}</ion-option>    
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="data.bankProviderName">
                    <ion-label>Account Number</ion-label>
                    <ion-input type="text" name="accountNumber" [(ngModel)]="data.accountNumber"></ion-input>
                </ion-item>
            </ion-list>
        </form>
    </div>
    <button ion-button *ngIf="editing" color="danger" clear small (click)="deleteAccountConfirm()">Delete</button>
</ion-content>