<ion-item-group *ngIf="lastOpenedBudget()">
    <button ion-item detail-none menuClose (click)="isBudgetPageOpen() || openBudget(lastOpenedBudget())">Back to {{budgetName(lastOpenedBudget())}}</button>
    <button ion-item detail-none menuClose (click)="shareBudget()">Share Budget...
        <button ion-button icon-only *ngIf="shared" item-right clear dark (click)="sync($event);$event.stopPropagation();"><ion-icon *ngIf="!syncing" dark name="refresh" class="spinner-size-icon"></ion-icon><ion-spinner *ngIf="syncing"></ion-spinner></button>
    </button>
    <button ion-item detail-none menuClose (click)="renameBudget()">Rename Budget...</button>
    <button ion-item detail-none menuClose (click)="deleteBudget()">Delete Budget...</button>
</ion-item-group>
<ion-item-group>
    <ion-item-divider *ngIf="lastOpenedBudget()" light>
        More
    </ion-item-divider>
    <button ion-item [class.selectedBudget]="b == lastOpenedBudget()" menuClose *ngFor="let b of budgets" (click)="openBudget(b)">{{budgetName(b)}}</button>
    <button ion-item menuClose detail-none (click)="addBudget()">Create New Budget...</button>
    <button ion-item menuClose detail-none (click)="linkBudget()">Link to a Shared Budget...</button>
</ion-item-group>
<ion-item-group>
    <ion-item-divider light>
        Options
    </ion-item-divider>
    <button ion-item menuClose (click)="goHome()">Home</button>
    <button ion-item menuClose (click)="goDev()">Dev</button>
    <button ion-item menuClose (click)="goSettings()">Settings</button>
    <button ion-item menuClose (click)="goAbout()">About</button>
</ion-item-group>