<ion-item-group *ngIf="lastOpenedBudget()">
    <button ion-item detail-none menuClose (click)="isBudgetPageOpen() || openBudget(lastOpenedBudget())">Back to {{budgetName(lastOpenedBudget())}}</button>
    <ion-item detail-none [menuClose]="syncing ? true : null" (click)="!syncing && shareBudget()">Share Budget...
        <button ion-button *ngIf="shared" [disabled]="syncing" item-right outline (click)="sync($event);$event.stopPropagation();">Sync Now</button>
    </ion-item>
    <button ion-item detail-none menuClose (click)="renameBudget()">Rename Budget...</button>
    <button ion-item detail-none menuClose (click)="deleteBudget()">Delete Budget...</button>
</ion-item-group>
<ion-item-group *ngIf="notifications.notifications.length">
    <ion-item-divider light>
        Notifications <ion-badge *ngIf="notifications.newNotifications.length > 3">{{notifications.newNotifications.length}}</ion-badge>
        <button ion-button item-right outline [disabled]="!notifications.newNotifications.length" (click)="notifications.clear(3)" (press)="notifications.clear()">Clear</button><button ion-button item-right outline menuClose (click)="goNotifications()">Show All</button>
    </ion-item-divider>
    <ion-item *ngIf="!notifications.newNotifications.length"><ion-note>No New Notifications</ion-note></ion-item>
    <notification-list *ngIf="notifications.newNotifications.length" new="true" limit="3"></notification-list>
</ion-item-group>
<ion-item-group>
    <ion-item-divider *ngIf="lastOpenedBudget() || window.serviceWorkerUpdateAvailable" light>
        Open
    </ion-item-divider>
    <button ion-item [class.selectedBudget]="b == lastOpenedBudget()" menuClose *ngFor="let b of budgets" (click)="openBudget(b)">{{budgetName(b)}}</button>
    <button ion-item menuClose detail-none (click)="addBudget()">Create New Budget...</button>
    <button ion-item menuClose detail-none (click)="linkBudget()">Open a Shared Budget...</button>
</ion-item-group>
<ion-item-group>
    <ion-item-divider light>
        Options
    </ion-item-divider>
    <button ion-item menuClose (click)="goHome()">Home</button>
    <button ion-item menuClose (click)="goDev()">Dev</button>
    <button ion-item menuClose (click)="goSettings()">Settings</button>
    <button ion-item menuClose (click)="goAbout()">About</button>
</ion-item-group>