<ion-header>
    <ion-toolbar>

    <ion-title>Bank Transaction</ion-title>

    <ion-buttons end>
        <button ion-button (click)="close()">Done</button>
    </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content class="view-bank-transaction-modal">
    <div responsive-padding>
        <ion-item>
            {{t.description}}
        </ion-item>
        <ion-item>
            <ion-label>Date</ion-label>
            <span item-right>{{t.date | dFormat}}</span>
        </ion-item>
        <ion-item>
            <ion-label>Amount</ion-label>
            <currency-display item-right showPositive [value]="t.amount"></currency-display>
        </ion-item>
        <ion-item *ngIf="t.balance">
            <ion-label>Balance</ion-label>
            <currency-display item-right showPositive [value]="t.balance"></currency-display>
        </ion-item>

        <div padding>
            <button ion-item [class.selected]="isSelected(t)" *ngFor="let t of unreconciliedAndThisReconciledTransactions()" (click)="toggleSelected(t)">
                {{t.description}}
                <currency-display item-right [value]="reconcileAmount(t)"></currency-display>
            </button>
            
            Total: <currency-display [value]="reconciledTotal()"></currency-display>
            
        </div>
    </div>
    <button ion-button type="button" color="danger" clear small (click)="deleteBankTransactionConfirm()">Delete</button>
</ion-content>