<ion-header class="transaction-wizard-header">
    <ion-toolbar class="custom-header-spacer"></ion-toolbar>
    <transaction-wizard-step-header [form]="form"></transaction-wizard-step-header>
</ion-header>

<ion-content class="transaction-wizard-amount-step">
    <div responsive-padding>
        <form (submit)="$event.preventDefault();wizard.next();" novalidate #form="ngForm">
            <ion-item>
                <ion-icon item-start>$</ion-icon>
                <ion-input required currency-field [(ngModel)]="data.lines[0].amount" name="amount"></ion-input>
            </ion-item>
        </form>
        <ion-item no-lines>            
            <button no-click-focus [disabled]="data.reconciliation.length > 0" *ngFor="let a of accounts" class="account-select-button" ion-button [outline]="data.accountLines.length === 0 || a.id !== data.accountLines[0].accountId" small icon-start (click)="selectAccount(a.id)"><ion-icon name="card"></ion-icon>{{a.name}}</button>
        </ion-item>
        <ion-item no-lines>
            <button *ngFor="let a of accounts" class="account-select-button" ion-button [outline]="data.accountLines.length === 0 || a.id !== data.accountLines[0].accountId" small icon-start (click)="selectAccount(a.id)"><ion-icon name="card"></ion-icon>{{a.name}}</button>
        </ion-item>
    </div>
</ion-content>