transaction-wizard-step-header {

    .toolbar-category-label {
        text-align: right;
        padding: 0 5px;
        margin: 0 2px;
        font-style: italic;
    }

    .extended-toolbar {
        min-height: 0;
    }
    
}