<ion-toolbar>
    <ion-buttons left>        
        <button *ngIf="platform.is('android')" ion-button icon-only (click)="wizard.dismiss()"><ion-icon name="close"></ion-icon></button>
        <button *ngIf="!platform.is('android')" ion-button icon-only (click)="wizard.dismiss()">Cancel</button>
    </ion-buttons>

    <ion-title>
        {{data.transactionType}}     
    </ion-title>

    <ion-buttons end>
        <button ion-button (click)="wizard.back()" *ngIf="wizard.canGoBack()">Back</button>
        <button ion-button (click)="wizard.next()" [disabled]="form && !form.valid">Next</button>
    </ion-buttons>

</ion-toolbar>

<ion-toolbar class="extended-toolbar">
    <div class="toolbar-category-label">
        in {{data.category?.name}}
    </div>
</ion-toolbar>
