#transactionWizardNav {
    .bank-transaction-item {

        .item-inner {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        ion-note {
            font-size:0.9em;
        }
    }

    .last-updated-footer {
        font-size: 0.85em;

        .icon-md::before {
            transform: scale(0.8);
        }
    }

    .no-bank-transactions-note {
        text-align: center;
        display: block;
        font-size: 0.9em;
    }

    .bank-transaction-item ion-label {
        display: none;
    }

    .account-select-button:not(.button-outline) {
        border: 1px transparent solid;
    }

    .account-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(170px, 1fr));
        grid-gap: 6px;
        grid-auto-rows: max-content;

        >.account-select-button {
            min-height: 80px;
            display: flex;

            ion-icon {
                padding: 10px;
                font-size: 24px;
            }

            .account-button-name {
                flex-grow: 1;
                white-space: normal;
                overflow: visible;
                hyphens: auto;
            }

            
        }
    }

}